<launch>

        <node pkg="truenorth" type="gyro_publisher" name="truenorth" output="screen">

               <param name="rate" value="10" type="int" />
	       <param name="port" value="/dev/ttyUSB0" type="str" />
	       <param name="baud" value="4147200" type="int" />
	       <param name="instr_align" value="1,0,0,0,-1,0,0,0,-1" type="string" />
	       <param name="gains" value="3.0,0.00,0.00,0.0000,1,.05" type="string" />
	       <param name="log_loc" value="/home/spiels/log/KVH/" type="string" />

        </node>

</launch>